# Ejercicios Repaso de DataFrames
Realiza los siguientes ejercicios. Soluciona cada uno de ellos empleando la DataFrame API y Spark SQL
1. A partir del archivo nombres.json crea un DataFrame y realiza las siguientes operaciones. Previamente inicializa la SparkSession (7):

In [38]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

   - a. Crea una nueva columna (Mayor30) que indique si la persona es mayor de 30 años.

In [35]:
from pyspark.sql.functions import expr

  - b. Crea una nueva columna (columna FaltanJubilacion) que calcule cuantos años le faltan para jubilarse (supongamos que se jubila a los 67 años)

  - c. Crea una nueva columna (columna Apellidos) que contenga XYZ. Pista: usa la función "lit", tienes que importarla previamente

  - d. Elimina las columnas Mayor30 y Apellidos.

  - e. Crea una nueva columna (columna AnyoNac) con el año de nacimiento de cada persona (puedes utilizar la función current_date).

In [36]:

from pyspark.sql.functions import current_date

- e. Añade un id incremental para cada fila (campo Id) y haz que al hacer un show se vea en primer lugar (puedes utilizar la función monotonically_increasing_id) seguidos del Nombre, Edad, AnyoNac, FaltaJubilacion y Ciudad (2)

In [37]:
from pyspark.sql.functions import monotonically_increasing_id

2. A partir del archivo movies.tsv, crea un esquema de forma declarativa con los campos (3):
   - interprete de tipo string
   - pelicula de tipo string
   - ano de tipo int
Cada fila del fichero implica que el actor/actriz está trabajando en dicha película en el año indicado
  - a. Una vez creado el esquema, carga los datos en el dataframe. Muéstralo

  - b. Muestra las películas en las que ha trabajado Murphy, Edie (I).

  - c. Muestra los intérpretes que aparecen en Superman y Superman II