# Ejercicios Dataframes 1
Realiza los siguientes ejercicios. Soluciona cada uno de ellos empleando la DataFrame API y Spark SQL
1. Inicializa la variable spark (0)

2. Crea un dataframe llamado mi_df con los datos del archivo *data/retail-data/all/online-retail-dataset.csv*

In [ ]:
#DataFrame API


#SQL

3. Muestra las 10 primeras filas del dataframe

In [ ]:
#DataFrame API


#SQL

4. Muestra sólo los camos "InvoiceNo", "Description" y "Quantity" de las 5 primeras filas

In [ ]:
#DataFrame API


#SQL

5. Muestra sólo los campos "InvoiceNo" (Factura), "Description" (Descripción) y "Quantity" (Cantidad) de lsa 5 primeras filas

In [ ]:
#DataFrame API


#SQL

6. Muestra los campos "Description" y "Quantity" de las 5 primeras filas para el número de factura 536365

In [ ]:
#DataFrame API


#SQL

7. Añade una nueva columna llamada "Mayor_que_20" que contenga el valor True si el coste total (quantity * UnitPrice) es mayor que 20, False en caso contrario. Muestra las 5 primeras filas.

In [ ]:
#DataFrame API


#SQL

8. Elimina la columna CustomerID

In [ ]:
#DataFrame API


#SQL

9. Muestra los países distintos (10 primeros)

In [ ]:
#DataFrame API


#SQL

10. Muestra el número de países distintos

In [ ]:
#DataFrame API


#SQL

11. Muestra los países distintos, ordenados de forma ascendente

In [ ]:
#DataFrame API


#SQL