# Ejercicios Dataframes 2
Realiza los siguientes ejercicios. Soluciona cada uno de ellos empleando la DataFrame API y Spark SQL
1. Inicializa la variable spark (0)

In [1]:
#DataFrame API
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

#SQL

2. Crea un dataframe llamado mi_df con los datos del archivo *data/retail-data/all/online-retail-dataset.csv* (0)

In [15]:
#DataFrame API
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType
# Definir el esquema
schema = StructType([
    StructField("InvoiceNo", IntegerType(), True),
    StructField("StockCode", StringType(), True),
    StructField("Description", StringType(), True),
    StructField("Quantity", IntegerType(), True),
    StructField("InvoiceDate", TimestampType(), True),
    StructField("UnitPrice", DoubleType(), True),
    StructField("CustomerID", IntegerType(), True),
    StructField("Country", StringType(), True)
])

# Leer el archivo CSV con el esquema especificado
df = spark.read.csv("data/retail-data/all/online-retail-dataset.csv", header=True, schema=schema)


df.show(10)
df.printSchema()
#SQL

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|       NULL|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|       NULL|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|       NULL|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|       NULL|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|       NULL|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|       NULL|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|       NULL|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|       NULL|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|       NULL|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|       NULL|     1.69|     13047|United Kingdom|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 10 rows

root
 |-- InvoiceNo: integer (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

3. Cuenta el número de celdas totales

In [ ]:
#DataFrame API


#SQL

4. Cuenta el número de "invoiceNo" distintos

In [ ]:
#DataFrame API


#SQL

5. Obtén el número de factura más bajo y el más alto

In [ ]:
#DataFrame API


#SQL

6. Obtén la suma de todos los importes unitarios de los productos vendidos en el Reino Unido

In [ ]:
#DataFrame API


#SQL

7. Obtén la media de todos los importes unitarios de los productos vendidos en el Reino Unido

In [ ]:
#DataFrame API


#SQL

8. Obtén la el número total de productos vendidos (quantity) agrupado por países (muestra los 10 primeros)

In [ ]:
#DataFrame API


#SQL

9. Obtén la media de los precios unitarios de los productos vendidos agrupada por países

In [16]:
#DataFrame API

df.groupBy("Country").avg("UnitPrice").show()
#SQL

+---------------+------------------+
|        Country|    avg(UnitPrice)|
+---------------+------------------+
|         Sweden| 3.910887445887446|
|        Germany| 3.966929963138483|
|         France| 5.028864087881269|
|        Belgium|3.6443354277428717|
|        Finland| 5.448705035971222|
|          Italy| 4.831120797011208|
|           EIRE| 5.911077354807235|
|      Lithuania|2.8411428571428576|
|         Norway|6.0120257826887675|
|          Spain| 4.987544413738654|
|        Denmark|  3.25694087403599|
|        Iceland|2.6440109890109897|
|         Israel|3.6331313131313143|
|Channel Islands| 4.932124010554089|
|         Cyprus| 6.302363344051452|
|    Switzerland|  3.40344155844156|
|          Japan|2.2761452513966476|
|         Poland| 4.170879765395893|
|       Portugal|  8.58297564186965|
|      Australia|3.2206115965051607|
+---------------+------------------+
only showing top 20 rows

10. Obtén el importe total (quantity * unit price) agrupado por número de factura (invoiceNo)

In [20]:
from pyspark.sql.functions import expr
#DataFrame API
df.select("InvoiceNo", expr("Quantity * UnitPrice AS ImporteTotal")).groupBy("InvoiceNo").avg("ImporteTotal").show(5)

#SQL

+---------+------------------+
|InvoiceNo| avg(ImporteTotal)|
+---------+------------------+
|   536532|  26.2895890410959|
|   537632|          13541.33|
|   538708| 20.29277777777778|
|   538877| 83.98397350993376|
|   538993|16.866666666666667|
+---------+------------------+
only showing top 5 rows

11. Crea un DataFrame para cada archivo de notas (notas_fisica, notas_ingles y notas_matemáticas). Realiza un Join que genere un DataFrame mostrando las tres notas para cada alumno. (sólo mostrar los alumnos que tengan nota en las 3 asignaturas)

In [44]:
#DataFrame API
from pyspark.sql.functions import col
schema = StructType([
    StructField("nombre", StringType(), True),
    StructField("nota", IntegerType(), True)
])
notas_mates = spark.read.csv("data/notas/notas_mates.txt",schema)
notas_ingles = spark.read.csv("data/notas/notas_ingles.txt",schema)
notas_fisica = spark.read.csv("data/notas/notas_fisica.txt",schema)
notas_mates.show()
notas_ingles.show()
notas_fisica.show()
notas_mates.printSchema()
join_expression = notas_mates["nombre"] == notas_ingles["nombre"]
notas_mates.withColumnRenamed("nota","nota_mates").join(notas_ingles.withColumnRenamed("nota","nota_ingles"),join_expression, "inner").drop(notas_ingles["nombre"]).select("nombre","nota_mates","nota_ingles").count()

#SQL

+---------+----+
|   nombre|nota|
+---------+----+
|    Angel|   6|
|    Maria|   2|
|    Ramon|NULL|
|    Jorge|  10|
|   Susana|   9|
|   Anabel|   8|
|    Pedro|   5|
|    Rocio|   6|
|   Carlos|   4|
|   Triana|   3|
|   Andres|   4|
| Fernando|   5|
| Leonardo|   1|
|    Oscar|   7|
|   Isabel|   8|
|Jose Juan|   5|
|  Nicolas|   2|
|Alejandro|   5|
|     Rosa|   6|
+---------+----+

+---------+----+
|   nombre|nota|
+---------+----+
|    Angel|   4|
|    Maria|   6|
|    Ramon|   8|
|    Jorge|   5|
|   Susana|   2|
|   Anabel|   7|
|    Rocio|   4|
|   Carlos|   8|
|   Triana|   4|
|   Andres|   6|
| Fernando|   7|
| Leonardo|   4|
|    Oscar|   3|
|   Isabel|   7|
|Jose Juan|   3|
|  Nicolas|   5|
|Alejandro|   7|
|     Rosa|   9|
+---------+----+

+---------+----+
|   nombre|nota|
+---------+----+
|    Angel|   9|
|    Maria|   3|
|    Ramon|   7|
|    Jorge|   5|
|   Susana|   9|
|   Anabel|   2|
|    Pedro|   2|
|    Rocio|   5|
|   Carlos|   4|
|    Rocio|   7|
|   Triana|   3|
|   Andres|   4|
| Fernando|   9|
| Leonardo|   6|
|    Oscar|   5|
|   Isabel|   8|
|Jose Juan|   3|
|  Nicolas|   7|
|Alejandro|   3|
|     Rosa|   8|
+---------+----+

root
 |-- nombre: string (nullable = true)
 |-- nota: integer (nullable = true)

18

12. Crea un DataFrame para cada archivo de notas (notas_fisica, notas_ingles y notas_matemáticas). Realiza un Join que genere un DataFrame mostrando las tres notas para cada alumno. Si a un alumno le falta alguna de las notas aparecerá el valor NULL

In [ ]:
#DataFrame API


#SQL